<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Home</title>
  </head>
  <body>
    <div class='posts_content'>
      <div class='centered'>
        <p class='posts_index_title ubuntu'>All Posts</p>
      </div>
      <div class="new-post-link">
        <%= link_to new_post_path do %>
          New post
        <% end %>
      </div>
      <br>
      <div class="posts-list">
        <% @posts.each_with_index do |post, index| %>
        <div class="single-post">
          <div>
            <%= image_tag((User.find_by(name: post.user_name)).avatar, :class => 'post_avatar') %>
          </div>
          <div class='single_post_content'>
              <div class='post_top_line'>
                <% if post.user_name == current_user.name %>
                  <p class='post_author inline'><%= post.user_name %></p>
                <% else %>
                <p class='post_author inline'><%= link_to post.user_name, post_profile_path(post.id), :class => 'friend_link' %></p>
                  <% end %>
                <small class='inline time_posted right'>
                  posted <%= distance_of_time_in_words(post.created_at, Time.now) %> ago
                </small>
                <div class='likes_div right inline'>
                  <small class='inline'>
                    <%= post.likes.count %> <%= (post.likes.count) == 1 ? 'Like' : 'Likes'%>
                  </small>
                  <% pre_like = post.likes.find { |like| like.user_name == current_user.name} %>
                    <% if pre_like %>
                      <%= button_to post_like_path(post, pre_like), method: :delete, :class => 'button unlike_button', form: {:class => 'inline unlike_button'} do %>
                      <i class="fas fa-heart"></i>
                      <% end %>
                    <% else %>
                      <%= button_to post_likes_path(post), method: :post, :class => 'button like_button', form: {:class => 'inline like_button'} do %>
                      <i class="far fa-heart"></i>
                      <% end %>
                    <% end %>
                </div>
                <% if post.user_name === current_user.name %>
                <div class='inline edit_delete_links right'>
                  <tr>
                      <td><%= link_to 'Edit', edit_post_path(post) %></td>
                      <td><%= link_to 'Delete', post, method: :delete, data: { confirm: 'Are you sure?' } %></td>
                  </tr>
                </div>
                <% end %>
              </div>
              <div class='post_message_div'>
                <p class='post_message'><%= post.message %></p>
              </div>
          </div>
          </div>
          <div class='post_comments'>
            <button id='comment-button<%= index + 1%>' class='collapsible commentsButton'>
              <%= post.comments.count %> <%= (post.comments.count) == 1 ? 'Comment' : 'Comments'%>
            </button>
            <div class='commentsContainer'>
              <div class='scrollable_comments'>
              <% post.comments.each do |comment| %>
                <div class="single-comment">
                  <div class='comment_user_avatar'>
                    <%= image_tag((User.find_by(name: comment.user_name)).avatar, :class => 'comment_avatar') %>
                  </div>
                  <div class='single_comment_content'>
                    <div class='comment_top_line'>
                      <p class='comment_author'>
                        <%= comment.user_name %>
                      </p>
                      <p class='inline comment_time_posted'>
                        <small >
                          posted <%= distance_of_time_in_words(comment.created_at, Time.now) %> ago
                        </small>
                      </p>
                    </div>
                    <p class='comment_message'>
                      <%= comment.body %>
                    </p>
                  </div>
                </div>
              <% end %>
            </div>
              <div class='comment_form'>
                <%= form_with(model: [ post, post.comments.build ], local: true) do |form| %>
                  <%= form.text_area :body, placeholder: "Leave a comment", :class => 'comment_text_area' %>
                  <br>
                  <%= form.submit 'Submit', :class => 'submit_button' %>
                <% end %>
              </div>
            </div>
            <br>
          </div>
        <% end %>
      </div>
    </div>

</body>
</html>
